In [617]:
import pandas as pd
import numpy as np

df = pd.read_csv("HouseDataSet.csv")

df.drop_duplicates(inplace=True)

df.drop(columns="Floor", inplace=True)
df.drop(columns="Pieces", inplace=True)

df.head(20)

,Price,Location,Area,Rooms,Bathrooms,Type of property,Condition,Age,Air conditioning,Garden,...,Internet,Flooring,Garage,Concierge,Reinforced Door,Microwave,Fridge,TV,Washing machine,Sea views
0,"845,000 TND",Hammamet Nord inHammamet,345m²,4 Rooms,3 Bathrooms,Villa,New,NaN,yes,yes,...,no,no,yes,no,no,no,no,no,no,no
1,"1,170,000 TND",Utique,7000m²,4 Rooms,5 Bathrooms,Villa,New,5-10 years old,yes,yes,...,no,no,yes,no,yes,yes,yes,no,yes,no
2,"1,500,000 TND",Cité Du Stade inLa Marsa,225m²,4 Rooms,4 Bathrooms,Villa,Good condition,5-10 years old,yes,yes,...,no,no,yes,no,yes,yes,yes,no,yes,no
3,"500,000 TND",La Marsa inLa Marsa,100m²,2 Rooms,2 Bathrooms,Apartment,New,Less than 1 year,yes,no,...,no,no,no,yes,yes,no,no,no,no,no
4,"898,000 TND",La Marsa inLa Marsa,204m²,2 Rooms,2 Bathrooms,Apartment,New,Less than 1 year,yes,yes,...,no,no,no,yes,yes,no,no,no,no,no
5,"629,000 TND",La Marsa inLa Marsa,137m²,2 Rooms,2 Bathrooms,Apartment,New,Less than 1 year,yes,no,...,no,no,no,yes,yes,no,no,no,no,no
6,"745,000 TND",La Marsa inLa Marsa,155m²,3 Rooms,2 Bathrooms,Apartment,New,Less than 1 year,yes,no,...,no,no,no,yes,yes,no,no,no,no,no
8,"1,130,000 TND",Hammamet Nord inHammamet,500m²,4 Rooms,4 Bathrooms,Villa,New,NaN,yes,yes,...,no,no,yes,no,no,no,no,no,no,yes
9,"450,000 TND",Les Jardins de Carthage inLe Kram,106m²,2 Rooms,1 Bathroom,Apartment,Good condition,5-10 years old,yes,no,...,no,no,yes,yes,no,no,no,no,no,no
10,"528,000 TND",La Marsa inLa Marsa,119m²,2 Rooms,2 Bathrooms,Apartment,New,NaN,yes,yes,...,no,no,no,no,yes,no,no,no,no,no
11,"370,000 TND",Hammam Sousse inHammam Sousse,143m²,NaN,NaN,Apartment,NaN,NaN,no,no,...,no,no,no,no,no,no,no,no,no,yes
12,"680,000 TND",Aouina inLa Marsa,328m²,3 Rooms,2 Bathrooms,Villa,New,1-5 years old,yes,yes,...,no,no,no,yes,yes,no,no,no,no,no
13,Price on request,El Mourouj 6 inEl Mourouj,101m²,2 Rooms,1 Bathroom,Apartment,New,Less than 1 year,no,no,...,no,no,yes,yes,yes,no,no,no,no,no
14,"290,000 TND",Aouina inLa Marsa,132m²,3 Rooms,2 Bathrooms,Apartment,Good condition,5-10 years old,yes,no,...,no,no,no,yes,no,no,yes,no,no,no
15,"290,000 TND",Aouina inLa Marsa,124m²,2 Rooms,2 Bathrooms,Apartment,Good condition,5-10 years old,no,no,...,no,no,no,yes,no,no,no,no,no,no
16,"2,116,620 TND",La Marsa inLa Marsa,279m²,4 Rooms,4 Bathrooms,Apartment,New,Less than 1 year,yes,yes,...,no,no,yes,no,yes,yes,yes,no,yes,no
17,"3,600,000 TND",Sidi Bousaid inCarthage,210m²,3 Rooms,2 Bathrooms,House,Due for reform,Over 100 years old,yes,no,...,no,no,no,no,no,no,no,no,no,yes
18,"550,000 TND",Les Berges Du Lac 2 inLa Marsa,125m²,2 Rooms,1 Bathroom,Apartment,Good condition,NaN,yes,yes,...,no,no,yes,yes,no,yes,yes,no,yes,no
19,Price on request,Hammamet Nord inHammamet,141m²,3 Rooms,3 Bathrooms,Apartment,New,NaN,yes,yes,...,no,no,no,yes,yes,no,no,no,no,yes
20,"513,000 TND",La Soukra inLa Soukra,135m²,3 Rooms,3 Bathrooms,Apartment,New,Less than 1 year,yes,no,...,no,no,no,no,no,yes,yes,no,no,no

In [618]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7972 entries, 0 to 8034
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             7972 non-null   object
 1   Location          7972 non-null   object
 2   Area              7872 non-null   object
 3   Rooms             7355 non-null   object
 4   Bathrooms         7103 non-null   object
 5   Type of property  7310 non-null   object
 6   Condition         6401 non-null   object
 7   Age               3456 non-null   object
 8   Air conditioning  7972 non-null   object
 9   Garden            7972 non-null   object
 10  Furnished         7972 non-null   object
 11  Pool              7972 non-null   object
 12  Heating           7972 non-null   object
 13  Equipped kitchen  7972 non-null   object
 14  Double glazing    7972 non-null   object
 15  Security system   7972 non-null   object
 16  Terrace           7972 non-null   object
 17  Elevator          7972 non-null   object
 18  Satellite dish    7972 non-null   object
 19  Oven              7972 non-null   object
 20  Mountains views   7972 non-null   object
 21  Internet          7972 non-null   object
 22  Flooring          7972 non-null   object
 23  Garage            7972 non-null   object
 24  Concierge         7972 non-null   object
 25  Reinforced Door   7972 non-null   object
 26  Microwave         7972 non-null   object
 27  Fridge            7972 non-null   object
 28  TV                7972 non-null   object
 29  Washing machine   7972 non-null   object
 30  Sea views         7972 non-null   object
dtypes: object(31)
memory usage: 1.9+ MB

In [619]:

if df['Location'].str.contains(' in').any():
    df[['City', 'Region']] = df['Location'].str.split(' in', expand=True)
else:
    df['City'] = df['Location']
    df['Region'] = df['Location']

df["Location"] = df["Location"].str.strip()

In [620]:
df.loc[df['Region'].isnull(), 'Region'] = df['Location']

In [621]:
df['Price'] = df['Price'].str.replace(r'\D', '', regex=True)
df["Price"] = df["Price"].str.replace(",","")
df["Price"] = df["Price"].str.replace("1300000100000","1300000")
df["Price"] = df["Price"].str.strip()
df = df.dropna(subset=['Price'])

In [622]:
df['Condition'].fillna(method='ffill', inplace=True)

C:\Users\MSI\AppData\Local\Temp\ipykernel_19872\3236457460.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Condition'].fillna(method='ffill', inplace=True)

In [623]:
df.drop(columns="Age", inplace=True)
df.drop(columns="Location", inplace=True)

In [624]:

df["Rooms"] = df["Rooms"].str.replace("Rooms","")
df["Rooms"] = df["Rooms"].str.replace("Room","")
df["Rooms"] = df["Rooms"].str.strip()

In [625]:
df["Area"] = df["Area"].str.replace("m²","")
df["Area"] = df["Area"].str.strip()

In [626]:
df["Bathrooms"] = df["Bathrooms"].str.replace("Bathrooms","")
df["Bathrooms"] = df["Bathrooms"].str.replace("Bathroom","")
df["Bathrooms"] = df["Bathrooms"].str.strip()

In [627]:
df.shape

(7972, 31)

In [628]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7972 entries, 0 to 8034
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             7972 non-null   object
 1   Area              7872 non-null   object
 2   Rooms             7355 non-null   object
 3   Bathrooms         7103 non-null   object
 4   Type of property  7310 non-null   object
 5   Condition         7972 non-null   object
 6   Air conditioning  7972 non-null   object
 7   Garden            7972 non-null   object
 8   Furnished         7972 non-null   object
 9   Pool              7972 non-null   object
 10  Heating           7972 non-null   object
 11  Equipped kitchen  7972 non-null   object
 12  Double glazing    7972 non-null   object
 13  Security system   7972 non-null   object
 14  Terrace           7972 non-null   object
 15  Elevator          7972 non-null   object
 16  Satellite dish    7972 non-null   object
 17  Oven              7972 non-null   object
 18  Mountains views   7972 non-null   object
 19  Internet          7972 non-null   object
 20  Flooring          7972 non-null   object
 21  Garage            7972 non-null   object
 22  Concierge         7972 non-null   object
 23  Reinforced Door   7972 non-null   object
 24  Microwave         7972 non-null   object
 25  Fridge            7972 non-null   object
 26  TV                7972 non-null   object
 27  Washing machine   7972 non-null   object
 28  Sea views         7972 non-null   object
 29  City              7972 non-null   object
 30  Region            7972 non-null   object
dtypes: object(31)
memory usage: 2.2+ MB

In [629]:
df.to_csv("cleaned_dataset2.csv", index=False)